DATABASE_URL="postgresql://neondb_owner:npg_XMHLg9fUq6FW@ep-steep-haze-azhi2h6n-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_URL="https://ealetas.vercel.app"
NEXTAUTH_SECRET="ealetas-super-secret-jwt-key-2026-auth"

# BulkSMSBD Gateway
BULKSMSBD_API_KEY="db5Xqgy4ArAkG1FWWpxZ"
BULKSMSBD_SENDER_ID="8809617619300"
BULKSMSBD_API_URL="http://bulksmsbd.net/api/smsapi"
